<section class="card">
  <div class="img">
  <img src="assets/ICONS/Subtract.png" alt=""></div>
  <div class="trash">
    <img class="trash-icon" src="assets/ICONS/trash.png" alt="">
  <img class="delete-hover"src="assets/ICONS/Hover.png"></div>
  <div class="top-text">عرض التذكرة الخاصة بالفيلم</div>
  <div class="web-box"><div class="web-adress">www.tazkty.com/473847  </div>
    <div class="web-copy"><img src="assets/ICONS/Group.png" alt="">
      <div class="mask">
      <img src="assets/ICONS/Mask group.png" alt="">
    </div>
  </div>
  </div>
  <div class="date">2023 فعال حتي 15 يوليو</div>
  <div class="mid-line"><img src="assets/ICONS/Vector 2.png" alt="">
  </div>
  <div class="qrcode">
    <img src="assets/ICONS/qrqr.png" alt="">
  </div>
  <div class="share-button"><img src="assets/ICONS/shareb.png" alt="">
    </div>
  <div class="disscount">خصم</div>
  <div class="disscount-num">25%</div>
</section>

<div class="web-copy1">
  <img src="assets/ICONS/Group.png" alt="Copy Icon" (click)="copyToClipboard()">
</div>
