<section class="ticket-number">
  <input class="edit" type="text" pInputText pTooltip=""
  tooltipEvent="focus" placeholder="تعديل" >
    <img class="img-edit" src="assets/ICONS/edit.png" alt="...">
    <div class="edit-word">
    <!-- تعديل -->
  </div>
  <div class="ticket-num">2342# تذكرة رقم </div>
  <div class="arrow">
  <img src="assets/ICONS/arrow.png"></div>
</section>
<img class="delete-hover1"src="assets/ICONS/Hover.png">


<section class="newticket">
  <div class="ticket-new">حجز تذكرة جديدة</div>
  <div class="button-ticket"><img src="assets/ICONS/Toogle@2x.png" alt=""></div>
  <div class="circle"><img src="assets/ISONS/Ellipse 4.png" alt=""></div>
  <div class="button-text">مفعلة</div>
</section>


<section class="search-right">
  <div class="up-down"><img src="assets/ICONS/updown.png" alt=""></div>
  <div class="left-right"><img src="assets/ICONS/leftright.png" alt=""></div>
  <div class="search-bar"><div class="search-icon"><img src="assets/ICONS/search-normal.png" alt="">
  </div><div class="search-text"> ... بحث عن </div></div>
  <div class="ticket-salles">مبيعات التذاكر</div>
</section>


<router-outlet></router-outlet>
<app-chart></app-chart>
<app-card></app-card>
<app-table></app-table>
